.premium {
	margin-top: 8px;
	margin-left: 8px;
	padding: 8px 16px;
	font-size: 1.1em;
	border-radius: 6px;
	background-color: transparent;
	border: 1px solid black;
	cursor: pointer;
}
.premium:hover {
	background-color: #eee;
}
