/* Base styles */
.pricingComparison {
	display: flex;
	column-gap: 20px;
	flex-wrap: nowrap;
	row-gap: 20px;
}

@media screen and (max-width: 600px) {
	.pricingComparison {
		flex-wrap: wrap;
	}
}

.tierCard {
	background-color: var(--ifm-color-secondary);
	border-radius: 8px;
	padding: 10px 20px;
	width: 100%;
}

.tierCard__title {
	font-size: 1.1rem;
	font-weight: 700;
	color: var(--ifm-font-color-base);
}

.tierCard__description {
	font-size: 0.9rem;
	color: var(--ifm-font-color-secondary);
}

.tierCard__price {
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--ifm-font-color-base);
}

.tierCard__priceDescription {
	font-size: 0.8rem;
	margin-bottom: 10px;
	color: var(--ifm-font-color-secondary);
}

.tierCard__buttonPlaceholder {
	height: 35px;
}

@media screen and (max-width: 600px) {
	.tierCard__buttonPlaceholder {
		height: 0px;
	}
}

.tierCard__featuresTitle {
	margin-top: 15px;
	font-size: 0.9rem;
	font-weight: 500;
	color: var(--ifm-font-color-base);
}

.tierCard__featuresContainer {
	display: flex;
	flex-direction: column;
}

.tierCard__feature {
	text-decoration: underline;
	color: var(--ifm-font-color-base);
}

.tierCard__featureTitle {
	color: var(--ifm-font-color-secondary);
}

.tierCard__featureTitle_available {
	text-decoration: underline;
}

.tierCard__featureTitle_unavailable {
	text-decoration: line-through underline;
	color: var(--ifm-color-emphasis-500);
}

.tierCard__featureTitle_unavailable:hover {
	color: var(--ifm-color-emphasis-600) !important;
	text-decoration: line-through underline !important;
}

.faicon::before {
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

.tierCard__featureIcon_unavailable::before {
	font: var(--fa-font-solid);
	content: "\58";
	padding-right: 6px;
	color: var(--ifm-color-emphasis-500);
}

.tierCard__featureIcon_available::before {
	font: var(--fa-font-solid);
	content: "\f00c";
	padding-right: 6px;
	color: var(--ifm-color-success);
}

/* Dark mode styles */
[data-theme="dark"] .tierCard {
	background-color: var(--ifm-color-secondary-dark);
}

[data-theme="dark"] .tierCard__title,
[data-theme="dark"] .tierCard__description,
[data-theme="dark"] .tierCard__price,
[data-theme="dark"] .tierCard__priceDescription,
[data-theme="dark"] .tierCard__featuresTitle,
[data-theme="dark"] .tierCard__feature,
[data-theme="dark"] .tierCard__featureTitle {
	color: var(--ifm-font-color-base-inverse);
}

[data-theme="dark"] .tierCard__featureTitle_available:hover {
	color: var(--ifm-color-primary-darkest);
}

[data-theme="dark"] .tierCard__featureTitle_unavailable {
	color: var(--ifm-color-emphasis-400);
}

[data-theme="dark"] .tierCard__featureTitle_unavailable:hover {
	color: var(--ifm-color-emphasis-300) !important;
}

[data-theme="dark"] .tierCard__featureIcon_unavailable::before {
	color: var(--ifm-color-emphasis-400);
}
